// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.loginForm {
	width: 50%;
	border: 1px solid #D3D3D3;
	margin: 0 auto;
	padding: 2rem;
}