<h1>Your Shopping Cart</h1>

<table>
    <tr>
        <th>Product</th>
        <th>Price</th>
    </tr>

    <!-- no equal cause no eval needed -->
    <% @shopping_cart.products.each do |product| %>
        <tr>
            <td>
                <%= product.title %>
            </td>
            <td>
                <%= product.price %>
            </td>

        </tr>



        <!-- end (do) loop -->
        <% end %>
            <tr>
                <th>Order Total</th>
            </tr>

</table>
<button>Complete Order</button>
<button>Delete Order</button>