<h1>All Product Categories</h1>

<% @product_types.each do |categories| %>

    <% @products.each do |count| %>

        <% if categories[:id] == count[0] %>

            <h3>
                <%= categories.product_type %>
                <%= " " %>
                <%= count[1] %>
            </h3>   
            
        <% end %>
                 
    <% end %>
    
<% end %>





