<h1>All Product Categories</h1>
        

<% @product_types.each do |categories| %>

    <% @products_count.each do |count| %>

        <% if categories[:id] == count[0] %>

            <h3>
                <%= link_to categories.product_type, product_type_path(categories) %>
                <%= " " %>
                <%= count[1] %>
            </h3>   

            <% @category_products = categories.products.limit(3) %>
            
            <% @category_products.each do |titles| %>
                <p><%= link_to titles[:title], product_path(titles) %></p>
            <% end %>

        <% end %>

    <% end %>

<% end %>