<h1>Profile</h1>

<%= link_to 'Shopping Cart', shopping_cart_path %><br>
<%= link_to 'Add Payment Type', new_payment_type_path %><br>
<%= link_to 'Manage Payment Types', payment_types_path %><br>
<%= link_to 'Sell a Product', new_product_path %><br>